{% load static %}

    <!-- Load CSS -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/default3/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default3/bootstrap-responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default3/bootswatch.css' %}">

    <!-- Load JS -->
    <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script src="{% static 'js/jquery.smooth-scroll.min.js' %}"></script>

    <script src="{% static 'js/default3/bootstrap.js' %}"></script>
    <script src="{% static 'js/default3/bootswatch.js' %}"></script>
